td {
  width: 200px;
  padding: 0;
}

.trOfWords {
  margin: 1em;
}

.rightDiv {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  background-color: var(--light-grey);
}

.leftDiv {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0;
  background-color: var(--light-grey);
}

.rightBackDiv {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* transition: background-color 0.2s ease-out 0.57s,
    border-bottom-right-radius 0.1s linear 0.57s, border-radius 0s linear 0.6s; */
}
.leftBackDiv {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* transition: background-color 0.2s ease-out 0.57s,
    border-bottom-left-radius 0.1s linear 0.57s, border-radius 0s linear 0.6s; */
}

.innerDiv {
  padding: 0.5em 1em;
}

.leftChild {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rightChild {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.additionTd {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  user-select: none;
  background-color: var(--light-grey);
  padding: 0;
  transition: background-color 0.2s ease-out 1s;
}

.additionOpenedContext {
  font-size: 1em;
  height: 100px;
  transition: height 0.2s ease-out 1s;
}

.tdClosedAddition {
  display: none;
  /* transition: display 1s linear 1s, background-color 1s linear 1s; */
}

.tdOpenedAddition {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  /* transition: display 1s linear 1s, background-color 1s linear 1s; */
}

/* невидимое выделение
span::selection {
  background: transparent;
} */
