td {
  /* border-bottom: 1px solid var(--dark-grey); */
  width: 200px;
  padding: 0.5em 1em;
}

.trOfWords {
  margin: 1em;
}

td:first-child {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}

td:last-child {
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  /* transition: border-bottom-right-radius 0s linear 0.3s; */
}

td.additionTd {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: var(--light-grey);
  padding: 0;
}
